.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.header {
  grid-area: h;
  background-color: blue;
}
.header img {
  width: 50px;
}
.nav {
  grid-area: n;
  background-color: yellow;
}
.content {
  grid-area: c;
  background-color: green;
}
.wallpaper{
  width: 1000px;
}
